@using frontendguide.ViewModels.Shared.PasswordToogle
<div class="demo-example" data-title="Example 1">
    @Html.Partial("PasswordToggle/PasswordToggle", new PasswordToggleViewModel { Id = "superduperid" }) 
</div>
